DB_URL= {Ddtabase-Url}
DB_USERNAME={username}
DB_PASSWORD={password}

PORT={port}

JWT_SECRET={your_jwt_secret}

USER.SERVICE.URL={user_service-URL}
EUREKA.CLIENT.SERVICEURL.DEFAULTZONE={eureka-server-url}

KAFKA_USERNAME=your_kafka_username
KAFKA_PASSWORD=kafka_password

KAFKA_SERVER=kafka_server
KAFKA_CLIENT_ID=client_id
